#pre {
    background: #a0c0f0;
}

h1 {
    font-family: 'Mystery Quest', cursive;
}

body {
    font-family: 'Questrial2', sans-serif;
}

h1 {
}

/*#content {
    margin-top: 65px;
}*/

#controls {
    /*position: fixed;*/
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
}

.category {
    background-color: #d0e0f0;
}

input.control {
    font-size: 25px;
}

input[type="text"] {
    font-size: 20px;
    margin: auto;
    padding-left: 30px;
    background-image: url('/static/search.png');
    background-position: 5px center;
    background-repeat: no-repeat;
}

.busy {
    background-image: url('/static/loader.gif');
}

.song {
    font-size: 23px;
    margin: 5px;
}
